USE [master]
GO
/****** Object:  Database [TRANSACAO_STONE]    Script Date: 05/11/2016 02:46:05 ******/
CREATE DATABASE [TRANSACAO_STONE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TRANSACAO_STONE', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLSERVER\MSSQL\DATA\TRANSACAO_STONE.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TRANSACAO_STONE_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLSERVER\MSSQL\DATA\TRANSACAO_STONE_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TRANSACAO_STONE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TRANSACAO_STONE]
GO
/****** Object:  Table [dbo].[CARTAO]    Script Date: 05/11/2016 02:46:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CARTAO](
	[ID_CARTAO] [bigint] IDENTITY(1,1) NOT NULL,
	[NUMERO_CARTAO] [nchar](16) NOT NULL,
	[DT_VALIDADE_CARTAO] [date] NOT NULL,
	[BANDEIRA_CARTAO] [nchar](20) NOT NULL,
	[SENHA_CARTAO] [nvarchar](100) NOT NULL,
	[ID_CLIENTE] [int] NULL,
	[LIMITE_CARTAO] [bigint] NOT NULL,
	[CODIGO_SEG_CARTAO] [int] NOT NULL,
	[NOME_CLIENTE_CARTAO] [varchar](50) NOT NULL,
	[BLOQUEADO] [int] NOT NULL,
	[TENTATIVAS] [tinyint] NOT NULL,
 CONSTRAINT [PK_CARTAO] PRIMARY KEY CLUSTERED 
(
	[ID_CARTAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 05/11/2016 02:46:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[ID_CLIENTE] [int] NOT NULL,
	[NOME_CLIENTE] [varchar](50) NOT NULL,
	[ID_CARTAO] [bigint] NULL,
 CONSTRAINT [PK_CLIENTES] PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HISTORICO]    Script Date: 05/11/2016 02:46:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HISTORICO](
	[ID_HISTORICO] [int] NOT NULL,
	[ID_CLIENTE] [int] NOT NULL,
	[ID_CARTAO] [bigint] NOT NULL,
	[ID_TRANSACAO] [int] NOT NULL,
	[DATA_HORA] [datetime] NOT NULL,
 CONSTRAINT [PK_HISTORICO] PRIMARY KEY CLUSTERED 
(
	[ID_HISTORICO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PRODUTOS]    Script Date: 05/11/2016 02:46:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRODUTOS](
	[ID_PRODUTO] [int] IDENTITY(1,1) NOT NULL,
	[NOME_PRODUTO] [varchar](50) NOT NULL,
	[PRECO_PRODUTO] [int] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TRANSACAO]    Script Date: 05/11/2016 02:46:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSACAO](
	[ID_TRANSACAO] [int] NOT NULL,
	[ID_CLIENTE] [int] NOT NULL,
	[ID_CARTAO] [bigint] NOT NULL,
	[DATA_TRANSACAO] [date] NOT NULL,
 CONSTRAINT [PK_TRANSACAO] PRIMARY KEY CLUSTERED 
(
	[ID_TRANSACAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[CARTAO]  WITH CHECK ADD  CONSTRAINT [ID_CLIENTE_FK] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTES] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[CARTAO] CHECK CONSTRAINT [ID_CLIENTE_FK]
GO
ALTER TABLE [dbo].[CLIENTES]  WITH CHECK ADD  CONSTRAINT [ID_CARTAO_FK] FOREIGN KEY([ID_CARTAO])
REFERENCES [dbo].[CARTAO] ([ID_CARTAO])
GO
ALTER TABLE [dbo].[CLIENTES] CHECK CONSTRAINT [ID_CARTAO_FK]
GO
ALTER TABLE [dbo].[HISTORICO]  WITH CHECK ADD  CONSTRAINT [ID_CARTAO_HIS] FOREIGN KEY([ID_CARTAO])
REFERENCES [dbo].[CARTAO] ([ID_CARTAO])
GO
ALTER TABLE [dbo].[HISTORICO] CHECK CONSTRAINT [ID_CARTAO_HIS]
GO
ALTER TABLE [dbo].[HISTORICO]  WITH CHECK ADD  CONSTRAINT [ID_CLIENTE_HIS] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTES] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[HISTORICO] CHECK CONSTRAINT [ID_CLIENTE_HIS]
GO
ALTER TABLE [dbo].[HISTORICO]  WITH CHECK ADD  CONSTRAINT [ID_TRANSACAO_HIS] FOREIGN KEY([ID_TRANSACAO])
REFERENCES [dbo].[TRANSACAO] ([ID_TRANSACAO])
GO
ALTER TABLE [dbo].[HISTORICO] CHECK CONSTRAINT [ID_TRANSACAO_HIS]
GO
ALTER TABLE [dbo].[TRANSACAO]  WITH CHECK ADD  CONSTRAINT [ID_CARTAO_TRANS_FK] FOREIGN KEY([ID_CARTAO])
REFERENCES [dbo].[CARTAO] ([ID_CARTAO])
GO
ALTER TABLE [dbo].[TRANSACAO] CHECK CONSTRAINT [ID_CARTAO_TRANS_FK]
GO
ALTER TABLE [dbo].[TRANSACAO]  WITH CHECK ADD  CONSTRAINT [ID_CLIENTE_TRANS_FK] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTES] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[TRANSACAO] CHECK CONSTRAINT [ID_CLIENTE_TRANS_FK]
GO
USE [master]
GO
